h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

p,
a {
  display: block;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.body {
  background: url("../images/bg-mobile-1x.jpg");
}
@media screen and (min-width: 768px) {
  .body {
    background-color: #ffffff;
    background: url("../images/bg-tablet-1x.jpg");
  }
}
@media screen and (min-width: 1280x) {
  .body {
    background: url("../images/bg-0-1x.jpg");
  }
}

.container {
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
    width: 768px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    max-width: 1280px;
  }
}

.top {
  margin-top: 120px;
  margin-bottom: 8px;
  width: 49px;
  height: 28px;
  left: 16px;
  top: 144px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .top {
    padding-left: 59px;
    padding-bottom: 4px;
    width: 114px;
    height: 66px;
    left: 99px;
    top: 256px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;
    color: #FFFFFF;
  }
}

.blog__one {
  outline: 1px solid red;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  height: 560px;
  max-width: 320px;
  position: relative;
}
@media screen and (min-width: 480px) {
  .blog__one {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .blog__one {
    max-width: 768px;
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .blog__one {
    max-width: 1280px;
    height: 463px;
  }
}

.img {
  /*  width: 322px;
   height: 180px; */
  padding: 0 auto;
}
.img--first {
  display: none;
}
@media screen and (min-width: 400px) {
  .img--second {
    display: block;
    width: 420px;
    height: 228px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 480px) {
  .img--second {
    /* display: block;
    width: 387px;
    height: 228px; */
    width: 480px;
    height: auto;
    display: block;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media screen and (min-width: 768px) {
  .img--second {
    display: block;
    width: 387px;
    height: 228px;
    border-radius: 12px;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .img {
    /*   display: block; */
    width: 387px;
    height: 228px;
    border-radius: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .img--first {
    display: block;
    width: 367px;
    height: auto;
    padding-top: 48px;
  }
  .img--second {
    display: none;
  }
}

.text {
  width: 692px;
}

.text__title {
  /*   font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1;
    color: #ffffff;
    padding-bottom: 54px; */
  /* width: 288px;
  height: 56px;
  left: 16px;
  top: 0px; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.6;
  color: #FFFFFF;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 480px) {
  .text__title {
    width: 288px;
    height: 56px;
    left: 16px;
    top: 0px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 23px;
    padding-bottom: 16px;
    color: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .text__title {
    width: 688px;
    height: 112px;
    left: 0px;
    top: 0px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 1;
    color: #FFFFFF;
    padding-left: 0;
    padding-top: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .text__title {
    width: 692px;
    height: 112px;
    left: 508px;
    top: 0px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 1;
    color: #FFFFFF;
  }
}

.text__author--main {
  /*      padding-top: 30px; */
}
@media screen and (min-width: 480px) {
  .text__author--main {
    justify-content: space-between;
    padding-top: 54px;
  }
}
@media screen and (min-width: 768px) {
  .text__author--main {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .text__author--main {
    display: flex;
    justify-content: space-between;
    max-width: 686px;
  }
}

.text__author {
  /*   width: 248px;
  height: 16px;
  left: 16px;
  top: 260px; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #FFFFFF;
}
@media screen and (min-width: 1280px) {
  .text__author {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
  }
}

.author {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  color: #ffffff;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 768px) {
  .author {
    width: 248px;
    height: 48px;
    left: 427px;
    top: 228px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    padding-top: 116px;
    padding-left: 0px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .author {
    width: 248px;
    height: 24px;
    left: 508px;
    top: 164px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    color: #FFFFFF;
    padding: 0;
    padding-top: 54px;
  }
}

.date {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  padding-top: 8px;
  padding-bottom: 16px;
  padding-left: 16px;
  color: #8D9289;
}
@media screen and (min-width: 768px) {
  .date {
    width: 261px;
    height: 48px;
    left: 427px;
    top: 308px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    padding-left: 0px;
    padding-right: 0;
  }
}
@media screen and (min-width: 1280px) {
  .date {
    width: 346px;
    height: 24px;
    left: 853px;
    top: 164px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    color: #8D9289;
    padding-top: 54px;
    padding-left: 97px;
    padding-right: 0;
  }
}

.text__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #FFFFFF;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .text__item {
    width: 688px;
    height: 112px;
    left: 0px;
    top: 372px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    color: #FFFFFF;
    padding-top: 16px;
    padding-left: 0;
  }
}
@media screen and (min-width: 1280px) {
  .text__item {
    width: 693px;
    height: 112px;
    left: 507px;
    top: 212px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.7;
    color: #FFFFFF;
  }
}

.link {
  /* width: 82px;
  height: 16px;
  left: 222px;
  top: 457px; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #86E543;
  text-align: right;
  padding-right: 10px;
}
@media screen and (min-width: 480px) {
  .link {
    padding-top: 6px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 768px) {
  .link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    padding-top: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    color: #86E543;
    text-align: right;
    padding-top: 54px;
  }
}/*# sourceMappingURL=main.css.map */